@font-face {
    font-family:'Lilita One';
    src: url(LilitaOne-Regular.ttf);
    font-family:'Jura';
    src: url(Jura.ttf);
}
body
    {
background-color: #637E56;
    }

a
    {
font-family: 'Jura';
font-weight: bold;
font-size:38px;
color:#0B111C;    
    }
header
    {
font-family:'Lilita One';
font-size:38px;
color:#0B111C;
    }

p
    {
font-family: 'Jura';
font-weight: bold;
font-size:28px;
color:#0B111C;
    }

div
    {       
background-color:#01EA24;
display: block;
    }    