/*Custom Fontit */
@font-face {
    font-family: 'Lilita One';
    src: url('LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jura';
    src: url('Jura.ttf') format('truetype');
}

/* Sivuston Tyyli */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#etusivu {
    background-image: url('store_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body:not(#etusivu) {
    background: none;

    font-family: 'Jura', sans-serif;
    background-color: #637E56;
    margin: 0;
    padding: 0;
    color: #0B111C;
    text-align: center;
}

/* Navigaation Tyylit */
nav {
    display: flex;
    justify-content: center;
    background-color: #0B111C;
    padding: 15px;
}

nav a {
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0B111C;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    background-color: #01EA24;
    border: 2px solid #e7f0e8;
    border-radius: 5px;
}

nav a:hover {
    background-color: #e7f0e8;
    color: #0B111C;
}

header {
    font-family:Lilita One, sans-serif;
    font-weight: bold;
    font-size:32;
}

p{
    font-family:Jura, sans-serif;
    font-weight: bold;
    font-size:24;
}

/* Yrityksen Logo */
#logo {
    display: block;
    margin: 20px auto;
}

/* Grid Elementti */
#container {
    display: grid;
    gap: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

/* Tekstilaatikot */
#tieto, #kivijalka, #ota {
    background-color: #01EA24;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Maps */
#kartta {
    width: 100%;
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #01EA24;
    color: #0B111C;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: auto;
}

/* Kaupan Tyylit */
#kauppa {
    text-align: center;
    padding: 20px;
}

/* Tuote Osio */
.product-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

/* Tuotteiden Laatikot */
.product {
    background-color: #01EA24;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}
/* CTA laatikko */
.CTA {
    display: block;
    background-color: #01EA24;
    border: 2px solid #0B111C;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #0B111C;
    transition: transform 0.3s, background-color 0.3s;
}

/* CTA efekti */
.CTA:hover {
    background-color: #0B111C;
    color: white;
    transform: scale(1.05);
}

/* CTA typografia */
.CTA h1, .CTA p {
    margin: 0;
    font-family: 'Lilita One', sans-serif;
}

/* CTA typografia */
.CTA p {
    margin: 0;
    font-family: 'Jura', sans-serif;
}

/* Skaalautuva Media */

/* Mobiilikoko */
@media (max-width: 600px) {
    #container {
        grid-template-columns: 1fr;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        display: block;
        margin: 5px 0;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
}

/* Kannettava Tietokone Koko */
@media (max-width: 1240px) {
    #container {
        grid-template-columns: 1fr 1fr;
    }
    #ota {
        grid-column: span 2;
    }
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Työpöytä (1920px) */
@media (min-width: 1241px) {
    #container {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
